﻿.modal-content {
    width: 600px !important;
    margin: 30px auto !important;
}

.colorgraph {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

#block_error {
    width: 845px;
    height: 384px;
    border: 1px solid #cccccc;
    margin: 72px auto 0;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    background: #fff url(/Templates/resources/images/block.gif) no-repeat 0 51px;
    margin-bottom: 20px;
}

    #block_error div {
        padding: 100px 40px 0 186px;
    }

        #block_error div h2 {
            color: #218bdc;
            font-size: 24px;
            display: block;
            padding: 0 0 14px 0;
            border-bottom: 1px solid #cccccc;
            margin-bottom: 12px;
            font-weight: normal;
        }

.wrapper, .row {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

    .wrapper:before, .wrapper:after,
    .column:before, .column:after {
        content: "";
        display: table;
    }

    .wrapper:after,
    .column:after {
        clear: both;
    }

#sidebar {
    /*background-color: #eee;*/
    padding-left: 0;
    float: left;
    min-height: 100%;
    padding-right: 0;
}

    #sidebar .collapse.in {
        display: inline;
    }

    #sidebar > .nav > li > a {
        white-space: nowrap;
        overflow: hidden;
    }

#main {
    padding: 15px;
    left: 0;
    border-left: 1px solid #eeeeee;
}

/*
 * off canvas sidebar
 * --------------------------------------------------
 */
@media screen and (max-width: 768px) {
    #sidebar {
        min-width: 44px;
    }

        /*#main {
        width: 1%;
        left: 0;
    }*/

        #sidebar .visible-xs {
            display: inline !important;
        }

    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.4s ease-in-out;
        -moz-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }

    .row-offcanvas-left.active {
        left: 45%;
    }

        .row-offcanvas-left.active .sidebar-offcanvas {
            left: -45%;
            position: absolute;
            top: 0;
            width: 45%;
        }
}


@media screen and (min-width: 768px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    .row-offcanvas-left.active {
        left: 3%;
    }

        .row-offcanvas-left.active .sidebar-offcanvas {
            left: -3%;
            position: absolute;
            top: 0;
            width: 3%;
            text-align: center;
            min-width: 42px;
        }

    #main {
        left: 0;
    }
}

#menu span.collapse {
    padding-left: 20px;
}


.ui-widget-header {
    border: none !important;
    background: none !important;
    color: #222222;
    font-weight: bold;
}

.modal-link
{
    text-decoration:underline;
    font-weight        :bold;
    color:#337ab7;
}