﻿<!DOCTYPE html>
<html lang="en">
<head>
    @{Html.RenderPartial("_pageHeader");}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
    @RenderSection("pageHeaderResources", false)

</head>
<body>
    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-content">
        </div>
    </div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li><a href="@Url.Action("editprofile", "myaccount")">Profile</a></li>
                    <li><a href="@Url.Action("logout", "myaccount")">LogOut</a></li>
                </ul>
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                </form>
            </div>
        </div>
    </nav>

    <div class="wrapper">
        <div class="row row-offcanvas row-offcanvas-left">
            <!-- sidebar -->
            <div class="column col-sm-2 col-xs-1 sidebar-offcanvas" id="sidebar">
                <ul class="nav" id="menu">
                    <li><a href="@Url.Action("editprofile", "myaccount")"><i class="fa fa-list-alt"></i><span class="collapse in hidden-xs">My Profile</span></a></li>
                    <li><a href="@Url.Action("mycontacts", "contacts")"><i class="fa fa-list-alt"></i><span class="collapse in hidden-xs">My Contacts</span></a></li>
                    <li><a href="@Url.Action("logout", "myaccount")"><i class="fa fa-list-alt"></i><span class="collapse in hidden-xs">Logout</span></a></li>
                   


                </ul>
            </div>
            <!-- /sidebar -->

            <!-- main right col -->
            <div class="column col-sm-10 col-xs-11" id="main">
                <p><a href="#" data-toggle="offcanvas"><i class="fa fa-navicon fa-2x"></i></a></p>
                <h1>@RenderSection("pageHeading", true)</h1>
                <hr>
                @RenderBody()
            </div>
            <!-- /main -->
        </div>
    </div>
    <hr>

    @Scripts.Render("~/Ljs")
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    @RenderSection("pageFooterResources", false)
    @if (ViewBag.errorBlock != null)
    {
        <script type="text/javascript">
            errorBlock('@ViewBag.errorBlock');
        </script>
    }
    else if (ViewBag.success != null)
    {
        <script type="text/javascript">
            success('@ViewBag.success');
        </script>
    }
</body>
</html>
