﻿<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/ico" href="favicon.ico" />
<title>@ViewBag.Title - Essor IT Solutions | IT Company | IT Business Solutions</title>
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
<meta name="msapplication-config" content="/browserconfig.xml" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta property="og:image" content="facebooklogo.png" />
@Styles.Render("~/css")