﻿@model Eits.Domain.MyContacts.Contacts
<style>
    .popupWindow  {
        height:150.4px!important;
    }
    .btnConformation {
        text-align:center;
    }
</style>
    <h3>Are you sure you want to delete this record?</h3>

    <form method="post" data-post-type="ajax" action="/Contacts/DeleteSingleContact/@Model.ContactId" data-success-function="DeleteContactSuccess">

       
        <div class="btnConformation">
            <input type="submit" value="Yes" class="btn btn-danger" />
            <input type="button" value="No" onclick="CancelDialogue();" class="btn btn-primary" />
        </div>
      

    </form>
