﻿  
@{
    ViewBag.Title = "Contact List";
    Layout = "~/Views/Shared/MasterPage/_authorizeUserMasterPage.cshtml";
    int recordCount = 0;
} 
@section pageHeading
{
    My Contacts
    <span style="float:right">
        @Html.ActionLink("Add New Contact", "savecontact", "contacts", null, new { @style = "font-size:22px;", @class = "popup btn btn-primary" })
    </span>
}
    

<div id="contacts_panel">
</div>
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4"><a href="javascript:void(0)" onclick="LoadMoreClick()" id="tg_LoadMore" data-page-index="0" class="btn btn-primary">Load More</a></div>
    <div class="col-md-4">

        <div class="form-inline pull-right" >
            <div class="form-group">
                <label id="lblpagesize" for="email">Page-Size</label>
                <select name="ddl_paging" id="ddl_pageRange" class="form-control" >
                    <option value="3">3</option>
                    <option value="5">5</option>
                    <option value="8">8</option>
                </select>
            </div>
        </div>
      
    </div>
 
</div>


