﻿@{
    ViewBag.Title = "Unsuccessful login with service.";
    Layout = "~/Views/Shared/MasterPage/_anonymousUserMaster.cshtml";
}
<div class="row">
    <div id="block_error">
        <div>
            <h2>Login Failure.</h2>
            <p>
                Unsuccessful login with service.<br />
                This website is temporarily unable to service your request as it has exceeded it’s resource limit. Please check back shortly.
            </p>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 
            </p>



        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
    <div class="row">
        <div class="col-md-6">
            
           <a href="@Url.Action("Register", "usermembership")" class="btn btn-primary btn-block btn-lg">Register</a>
        </div>
        <div class="col-md-6"><a href="/" class="btn btn-success btn-block btn-lg">Login</a></div>
    </div>

</div>
