﻿@model MvcDemo.Domain.UserMemberShip.RecoverPassword
@{
    ViewBag.Title = "Recover Password";
    Layout = "~/Views/Shared/MasterPage/_anonymousUserMaster.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <h2 class="">Forgot your password?
        </h2>
        <form method="post">
            @Html.AntiForgeryToken()
            <fieldset>
                <span class="help-block">Email address you use to log in to your account
                    <br>
                    We'll send you an email with instructions to choose a new password.
                </span>
                <hr class="colorgraph">
                <div class="form-group input-group">
                    <span class="input-group-addon">@@
                    </span>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Username" })

                </div>
                <span class="help-block">@Html.ValidationMessageFor(m => m.UserName)</span>
                <button type="submit" class="btn btn-primary btn-block" id="btn-olvidado">
                    Continue
                </button>

                <p class="help-block">
                    <a href="/"><small>Login</small></a>
                </p>
            </fieldset>
        </form>
    </div>
</div>
