﻿@model MvcDemo.Domain.UserMemberShip.UserRegistration
@{
    ViewBag.Title = "Register Now";
    Layout = "~/Views/Shared/MasterPage/_anonymousUserMaster.cshtml";
}

    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form role="form" method="POST">
                @Html.AntiForgeryToken()
                <h2>Please Sign Up <small>It's free and always will be.</small></h2>
                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control input-lg", placeholder = "First Name", autofocus = "autofocus" })
                            @Html.ValidationMessageFor(m => m.FirstName)
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control input-lg", placeholder = "Last Name" })
                            @Html.ValidationMessageFor(m => m.LastName)
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control input-lg", placeholder = "Username" })
                    @Html.ValidationMessageFor(m => m.UserName)
                </div>
               
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control input-lg", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <div class="form-group">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control input-lg", placeholder = "Confirm Password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-xs-12 col-sm-12 col-md-12">
                        By clicking <strong class="label label-primary">Register</strong>, you agree to the
                        @Html.ActionLink("Terms and Conditions", "_termsandconditions", "usermembership", null, new { @class = "modal-link" })
                        set out by this site, including our Cookie Use.
                    </div>
                </div>

                <hr class="colorgraph">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <input type="submit" value="Register" class="btn btn-primary btn-block btn-lg">
                    </div>
                    <div class="col-xs-12 col-md-6"><a href="/" class="btn btn-success btn-block btn-lg">Login</a></div>
                </div>
            </form>
        </div>
    </div>

