﻿@model MvcDemo.Domain.UserMemberShip.UserLogin
@{
    ViewBag.Title = "User Login";
    Layout = "~/Views/Shared/MasterPage/_anonymousUserMaster.cshtml";
}



<div class="omb_login">
    <h3 class="omb_authTitle">Login or <a href="@Url.Action("Register", "usermembership")">Sign up</a></h3>
    <div class="row omb_row-sm-offset-3 omb_socialButtons">
        <div class="col-xs-4 col-sm-2">
            <a href="@Url.Action("externallogin", "usermembership", new { provider = MvcDemo.Enums.Users.ExternalProvider.Facebook })" class="btn btn-lg btn-block omb_btn-facebook">
                <i class="fa fa-facebook visible-xs"></i>
                <span class="hidden-xs">Facebook</span>
            </a>
        </div>
        <div class="col-xs-4 col-sm-2">
            <a href="@Url.Action("externallogin", "usermembership", new { provider = MvcDemo.Enums.Users.ExternalProvider.Twitter })" class="btn btn-lg btn-block omb_btn-twitter">
                <i class="fa fa-twitter visible-xs"></i>
                <span class="hidden-xs">Twitter</span>
            </a>
        </div>
        @*<div class="col-xs-4 col-sm-2">
            <a href="@Url.Action("externallogin", "usermembership", new { provider = MvcDemo.Enums.Users.ExternalProvider.Google })" class="btn btn-lg btn-block omb_btn-google">
                <i class="fa fa-google-plus visible-xs"></i>
                <span class="hidden-xs">Google+</span>
            </a>
        </div>*@
    </div>
    <div class="row omb_row-sm-offset-3 omb_loginOr">
        <div class="col-xs-12 col-sm-6">
            <hr class="omb_hrOr">
            <span class="omb_spanOr">or</span>
        </div>
    </div>
    <div class="row omb_row-sm-offset-3">
        <div class="col-xs-12 col-sm-6">
            <form class="omb_loginForm" autocomplete="off" method="POST">
                @Html.AntiForgeryToken()
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Username", autofocus = "autofocus" })
                </div>

                <span class="help-block">@Html.ValidationMessageFor(m => m.UserName)</span>

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    @Html.PasswordFor(m => m.UserPassword, new { @class = "form-control pwd", placeholder = "Password" })
                    <span class="input-group-btn">
                        <button class="btn btn-default reveal" type="button"><i class="fa fa-eye"></i></button>
                    </span>

                </div>
                <span class="help-block">@Html.ValidationMessageFor(m => m.UserPassword)</span>

                <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
            </form>
        </div>
    </div>
    <div class="row omb_row-sm-offset-3">
        <div class="col-xs-12 col-sm-3">
        </div>
        <div class="col-xs-12 col-sm-3">
            <p class="omb_forgotPwd">
                <a href="@Url.Action("recoverpassword", "usermembership")">Forgot password?</a>
            </p>
        </div>
    </div>
</div>




