﻿@model Eits.Domain.Users.UserDetail
@{
    ViewBag.Title = "Edit Profile";
    Layout = "~/Views/Shared/MasterPage/_authorizeUserMasterPage.cshtml";
}
<script src="http://code.jquery.com/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Templates/resources/js/jquery/jquery-1.7.1.min.js"></script>
<script src="~/Templates/resources/js/jquery/jquery.js"></script>
@section pageHeading
    {
    Edit Profile

}
<style>
    .progress {
        position: relative;
        width: 400px;
        border: 1px solid #ddd;
        padding: 1px;
        border-radius: 3px;
        height: 25px;
    }

    .bar {
        background-color: #337ab7;
        width: 0%;
        height: 25px;
        border-radius: 3px;
    }

    .percent {
        position: absolute;
        display: inline-block;
        top: 3px;
        left: 48%;
    }

    #status {
        margin-top: 30px;
    }
   
 
</style>

<div class="row">
    <!-- left column -->
    <div class="col-md-3">
        <h3>Personal info</h3>
        <div class="text-center">
            
           @if(Model.FileName == null)
            {
            <img id='prev_Img' src="/Content/UploadImages/noimage.png" class="avatar img-circle" height="100" width="100" style="margin:0 auto">
            }
            
            else
            {
               <img id='prev_Img' src="/Content/UploadImages/@Model.FileName" class="avatar img-circle" height="100" width="100" style="margin:0 auto">
            }
           
            
             <h6>Upload a different photo...</h6>
            <input type="file" id="fileUpload" value="UploadImage" class="form-control" />
            <h6 style="float:right">(Extension Support  *.jpg ,*.jpeg ,*.png ,*gif)</h6>
            <br/>
            <input type="button" id="btn_upload" value="Upload" class="btn btn-primary" style="float:left" />
            <br />
            <br/>
            <div class="progress" style="display:none;">
                <div class="bar"></div>
                <div class="percent">0%</div>
                <div id="status"></div>
            </div>   
         
        
      </div>
      
    </div>

    <!-- edit form column -->
    <div class="col-md-9 personal-info" style="margin-top:52px">

       <form class="form-horizontal" role="form" method="post">
          <input type="hidden" id="hddnfilename" value="@Model.FileName" />
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.FileName)
            @Html.HiddenFor(m => m.OrignalFileName)
            <div class="form-group">
                <label class="col-lg-3 control-label">First name:</label>
                <div class="col-lg-8">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FirstName)
                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Last name:</label>
                <div class="col-lg-8">
                    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.LastName)
                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label">Email:</label>
                <div class="col-lg-8">
                    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.EmailAddress)
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label">Postcode:</label>
                <div class="col-md-8">
                    @Html.TextBoxFor(m => m.PostCode, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.PostCode)
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                    <input type="submit" class="btn btn-primary" value="Save Changes">
                    <span></span>
                    @*<input type="reset" class="btn btn-default" value="Cancel">*@
                </div>
            </div>
        </form>
    </div>
</div>
