﻿<!DOCTYPE html>
<html lang="en">
<head>
    @{Html.RenderPartial("_pageHeader");}
    @RenderSection("pageHeaderResources", false)

</head>
<body>
    <div id="modal-container" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-content">
        </div>
    </div>
    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/js")
    @RenderSection("pageFooterResources", false)
    @if (ViewBag.errorBlock != null)
    {
        <script type="text/javascript">
            errorBlock('@ViewBag.errorBlock');
        </script>
    }
    else if (ViewBag.success != null)
    {
        <script type="text/javascript">
            success('@ViewBag.success');
        </script>
    }
</body>
</html>
