﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="d.aspx.cs" Inherits="Eits.Demo.UI.D" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
         <a href="/">B</a>    
    </form>
</body>
</html>
