﻿@{
    ViewBag.Title = "Contact List";
    Layout = "~/Views/Shared/MasterPage/_authorizeUserMasterPage.cshtml";
}

@section pageHeading
{
    My Contacts
    <span style="float:right">
        @Html.ActionLink("Add New Contact","savecontact","contacts",null,new{@style="font-size:22px;", @class="popup"})
    </span>
}

<div id="contacts_panel">
</div>
