﻿@model MvcDemo.Domain.MyContacts.Contacts
<h2>Save Contact</h2>
@using (Html.BeginForm("savecontact", "contacts", FormMethod.Post, new { role = "form", id = "saveForm", data_post_type = "ajax", data_success_function = "AddNewContactSucess" }))
{
@*here role = "form" for bootstrap design (optional) *@
    @Html.ValidationSummary(true)
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ContactId)
    <div class="form-group">

        <label>Contact Person</label>
        @Html.TextBoxFor(model => model.ContactPerson, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ContactPerson)
    </div>
    <div class="form-group">
        <label>Contact Number</label>
        @Html.TextBoxFor(model => model.ContactNo, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ContactNo)
    </div>
    <div class="form-group">
        <label>Select Country</label>
        @Html.DropDownListFor(m => m.ContactState.FkCountryId,
                new SelectList(Model.LstCountry, "CountryId", "CountryName"), "Select Country", new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Select State</label>
        @if (Model.LstState != null)
        {
            @Html.DropDownListFor(m => m.StateId,
                new SelectList(Model.LstState, "StateId", "StateName"), "Select State", new { @class = "form-control" })
        }
        else
        {
            @Html.DropDownListFor(m => m.StateId, Enumerable.Empty<SelectListItem>(), "Select State", new { @class = "form-control" })
        }
        @Html.ValidationMessageFor(m => m.StateId)
    </div>
    <button type="submit" class="btn btn-default">Submit</button>

    
}
